.oFair {
	header.header-mb { 
		position: relative;
		display: block;
		width: 100%;
		// background: linear-gradient(30deg, #2575FC 0%, #6A11CB 100%);
		background: #ffffff;
		color: $trang;
		padding: 0;
		z-index: 10;
		&.header-fixed {
			position: fixed;
			top: 0;
			box-shadow: 2px 1px 2px rgba(134, 134, 134, 0.5);
		}
		.container {
			padding: 0;
		}
		a {
			color: inherit;
			outline: none;
			text-decoration: none;
		}

		.view-option-1 { 
			position: relative;
			display: block;
			width: 100%;
			top: 0px;
			height: 50px;
			margin-bottom: 0;
			color: #ffffff;
			overflow: hidden;
			.toggle-btn {
				display: block;
				cursor: pointer;
				position: absolute;
				left: 0;
				top: 0;
				width: 50px;
				height: 50px;
				line-height: 50px;
				padding: 0;
				background-color: transparent;
				color: #323232;
				font-size: 25px;
				text-align: center;
				z-index: 3;
				span {
					width: 26px;
					height: 25px;
					line-height: 25px;
					border-radius: 50%;
					vertical-align: baseline;
				}
			}
			.brand { 
				position: relative;
				display: block;
				width: 170px;
				height: 50px;
				min-height: 1px;
				padding-top: 4px;
				margin: 0 auto;
				text-align: center;
				img {
					width: 160px;
				}
				svg {
					width: 160px;
				}
				.logo { 
					position: relative;
					display: block;
					vertical-align: top;
					outline: none;
					position: relative;
					color: #fff;
					text-decoration: none;
					h1 {
						margin: 0;
						font-weight: bold;
						font-style: normal;
						font-size: 24px;
						line-height: 29px;
						letter-spacing: -0.05em;
						text-transform: uppercase;
						span { 
							white-space: nowrap;
							font {
								color: #F5A623;
							}
						}
					}
				}
			}

		}

		.view-option-2 { 
			position: relative;
			display: block;
			width: 100%;
			top: 0px;
			height: 50px;
			margin-bottom: 0;
			color: #666F96;
			//overflow: hidden;
			.toggle-btn {
				display: block;
				cursor: pointer;
				position: absolute;
				left: 0;
				top: 0;
				width: 50px;
				height: 50px;
				line-height: 50px;
				padding: 0;
				padding-left: 5px;
				background-color: transparent;
				color: #333;
				font-size: 22px;
				text-align: center;
				z-index: 3;
				span {
					width: 26px;
					height: 25px;
					line-height: 25px;
					border-radius: 50%;
					vertical-align: baseline;
				}
			}
			.brand { 
				position: relative;
				display: block;
				width: 152px;
				height: 50px;
				padding-top: 5px;
				min-height: 1px;
				text-align: center;
				left: 56px;
				img {
					width: 152px;
				}
				svg {
					width: 152px;
				}
				.logo { 
					position: relative;
					display: block;
					vertical-align: top;
					outline: none;
					position: relative;
					color: #fff;
					text-decoration: none;
					h1 {
						margin: 0;
						font-weight: bold;
						font-style: normal;
						font-size: 24px;
						line-height: 29px;
						letter-spacing: -0.05em;
						text-transform: uppercase;
						span { 
							white-space: nowrap;
							font {
								color: #F5A623;
							}
						}
					}
				}
			}
			.box-user-login {
				position: absolute;
				right: 0;
				top: 15px;
				padding-right: 15px;
				.user-not-logged-in {
					.btn-sign-in {
						position: relative;
						display: block;
						white-space: nowrap;
						padding: 0 15px;
						width: 93px;
						height: 37px;
						line-height: 37px;
						background: #ED1C94;
						border-radius: 3px;
						cursor: pointer;
						top: -8px;
						text-transform: uppercase;
					}
				}
				.user-logged {
					display: inline-flex;
					.user-name {
						position: relative;
						padding-left: 32px;
						cursor: pointer;
						.avata {
							position: absolute;
							display: inline-block;
							top: -3px;
							left: 0;
							width: 26px;
							height: 26px;
							line-height: 26px;
							background: #BDBDBD;
							border-radius: 26px;
							text-align: center;
							white-space: nowrap;
							overflow: hidden;
							img {
								max-width: 100%;
								vertical-align: top;
							}
						}
						.name-value {
							position: relative;
							display: block;
							max-width: 80px;
							padding-right: 15px;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							&:after {
								content: "\f0d7";
								position: absolute;
								display: block;
								display: inline-block;
								top: 0;
								right: 0;
								color: #C4C4C4;
								font-family: "Font Awesome 5 Pro";
								font-style: normal;
								font-variant: normal;
								text-rendering: auto;
								font-weight: 900;
							}
						}
						.dropdown-user {
							display: none;
							position: absolute;
							top: 100%;
							right: 0;
							z-index: 99;
							width: 180px;
							padding-top: 10px;
							cursor: auto;
							&.show {
								display: block;
							}
							&.collapse.in {
								display: block;
							}
							.myvne_user_status {
								position: absolute;
								display: block;
								list-style: none;
								width: 180px;
								padding: 5px 5px;
								margin: 0;
								right: -23px;
								top: 8px;
								color: #999;
								font-size: 13px;
								opacity: 1;
								transition: all 0.5s ease 0s;
								z-index: 9;
								background: #fff;
								box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.2);
								border-top: 3px solid #eb1b92;
								border-radius: 5px;
								&:before {
									content: "";
									position: absolute;
									display: block;
									top: -10px;
									left: auto;
									right: 20px;
									margin: auto;
									width: 0;
									height: 0;
									border-left: 7px solid transparent;
									border-right: 7px solid transparent;
									border-bottom: 7px solid #eb1b92;
									z-index: 10;
								}
								li {
									position: relative;
									display: block;
									width: 100%;
									height: 30px;
									clear: both;
									margin: 0;
									padding: 0;
									a {
										position: relative;
										display: inline-block;
										width: 100%;
										padding: 0 5px;
										white-space: nowrap;
										overflow: hidden;
										line-height: 30px;
										border-radius: 3px;
										color: #242424;
										&:hover {
											background: #f5f5f5;
											color: #eb1b92;
										}
									}
								}
							}
						}
					}
					.user-notify {
						position: relative;
						margin-left: 15px;
						text-align: right;
						display: none;
						.notify-number {
							position: absolute;
							left: 10px;
							display: block;
							white-space: nowrap;
							min-width: 16px;
							top: -6px;
							background: #ed1c94;
							padding: 3px;
							font-size: 12px;
							line-height: 10px;
							border-radius: 12px;
							text-align: center;
							color: #fff !important;
						}
					}
				}
			}

		}

		@media (min-width: 767px) {
			//display: none;
		}
	}

	@media (max-width: 767px) {
		header.header {
			//display: none;
		}
	}
}